{% extends "layout.html" %}
{% block body %}
<div class="row">
  <h1>Twitter sentiment analysis</h1>
  <hr>
  {% if error %}
  <div class="alert alert-warning" role="alert">
    {{ error }}
  </div>
  {% endif %}
  <form action="/submit" method="post" class="form-inline">
    <div class="form-group">
      <label for="search"></label>
      <input type="text" class="form-control" id="screen_name" name="screen_name"
      placeholder="Enter twitter username..">
      <input type="number" class="form-control" id="num_tweets" name="num_tweets"
      placeholder="Num of past tweets">
      <button type="submit" class="btn btn-primary pull-right">Search</button>
    </div>
  </form>
  <br>
  {% if results %}
  <table class="table tabled-hover">
    <thead>
      <tr>
        <th>Tweet</th>
        <th>Sentiment</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
      <tr>
        <td>{{ result.tweet | safe | urlize }}</td>
        <td>{{ result.sentiment }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
